@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Oxygen:400,700);

body {
	min-width: 960px;
	background-image: url('img/subtle_grunge_@2X.png')
}

* {
	font-family: 'Arvo', serif;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#header {
	margin-left: auto;
  margin-right: auto;
  width: 940px;
	height: 120px;
	text-align: center;
}

#logo {
	display: inline;
	width: 128px;
	height: 72px;
	float: left;
}

.logoImage {
	max-width: 100%;
	height: 72px;
}

#title {
	display: inline;
	margin: 0 auto;
	font-family: 'Oxygen', sans-serif;
}

#date {
	display: inline;
	width: 128px;
	height: 72px;
	float: right;
}

#menu {
	margin-left: auto;
  margin-right: auto;
  width: 940px;
	height: 40px;
	text-align: center;
}

.centerWrapper {
	margin-left: auto;
  margin-right: auto;
	width: 400px;
	font-family: 'Oxygen', sans-serif;
}

/*Styling for menu control adapted from http://msdn.microsoft.com/en-us/library/ms366731.aspx */
/*---------------------------------------*/
.menuLevel1 {
	color: black;
	font-size: large;
}

.menuLevel2 {
	color: white;
	background-color: black;
	font-size: medium;
}

.menuLevel3 {
	color: black;
	background-color: silver;
	font-size: small;
}

.hoverstyle {
	font-weight: bold;
}
/*---------------------------------------*/

#main {
	margin-left: auto;
	margin-left: auto;
	padding: 80px 160px 80px 160px;
	text-align: center;
}

#footer {
	margin-left: auto;
  margin-right: auto;
  width: 940px;
	height: 80px;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
}

/* GridView formatting START*/

.cssgridview {
	width: 100%;
	margin: 5px 0 10px 0;
	border: solid 1px #525252;
	border-collapse: collapse;
	text-align: center; 
	color: #7C6F57;
	background-color: #F7F6F3;
}

.cssgridview td {
	padding: 10px;
	border: solid 1px #c1c1c1;
	color: #717171;
}

.cssgridview td a, a:visited {
	color: #717171;
	text-decoration: none;
}

.cssgridview th {
	padding: 10px;
	color: #FFFFFF;
	background: #424242 url(./img/grd_head.png) repeat-x top;
	border-left: solid 1px #525252;
	font-size: 0.9em;
}  

.cssgridview th a {
	color: silver;
	text-decoration: none;
}  

.cssgridview th a:hover {
	color: white;
	background-color: #7C6F57;
	text-decoration: underline;
}

.cssgridview .alt {
	background: #fcfcfc url(./img/grd_alt.png) repeat-x top;
}

.cssgridview .pgr {
	background: #424242 url(./img/grd_pgr.png) repeat-x top;
}  

.cssgridview .pgr table {
	margin: 5px 0;
}  

.cssgridview .pgr td {
	border-width: 0;
	padding: 0 6px;
	border-left: solid 1px #666666;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 12px;
}     

.cssgridview .pgr a {
	color: #666666;
	text-decoration: none;
}  

.cssgridview .pgr a:hover {
	color: #000000;
	text-decoration: underline;
}

/* GridView formatting END*/

/* DetailsView formatting START */

.cssdetailsview {
	background-color: #FFFFFF;
	margin: 5px 0 10px 0;
	border: solid 1px #525252;
	border-collapse: collapse;
	text-align: center;
}

.cssdetailsview td {
	padding: 10px;
	border: solid 1px #C1C1C1;
	color: #717171;
	text-align: left;
}

.cssdetailsview .header td {
	text-align: center;
	padding: 4px 2px;
	color: silver;
	background: #424242 url(./css/grd_head.png) repeat-x top;
	border-left: solid 1px #525252;
}

.cssdetailsview .fieldheader {
	color: red;
	width: 150px;
	text-align: right;
}

.cssdetailsview .altrow {
	background: #FCFCFC url(./css/grd_alt.png) repeat-x top;
}

.cssdetailsview .command {
	background: #424242 url(./css/grd_pgr.png) repeat-x top;
	line-height: 20px;
}

.cssdetailsview .command td {
	text-align: center;
}

.cssdetailsview .command a {
	color: silver;
	text-decoration: none;
	padding: 10px;
}

.cssdetailsview .command a:hover {
	color: silver;
	text-decoration: underline;
}

.cssdetailsview .pager {}

.deletedSongHighlight {
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}

/* DetailsView formatting END */