@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Oxygen:400,700);

body {
	min-width: 960px;
	background-image: url('img/subtle_grunge_@2X.png')
}

* {
	font-family: 'Arvo', serif;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#header {
	margin-left: auto;
  margin-right: auto;
  width: 940px;
	height: 120px;
	text-align: center;
}

#logo {
	display: inline;
	width: 128px;
	height: 72px;
	float: left;
}

.logoImage {
	max-width: 100%;
	height: 72px;
}

#title {
	display: inline;
	margin: 0 auto;
	font-family: 'Oxygen', sans-serif;
}

#date {
	display: inline;
	width: 128px;
	height: 72px;
	float: right;
}

#menu {
	margin-left: auto;
  margin-right: auto;
  width: 940px;
	height: 40px;
	text-align: center;
}

.centerWrapper {
	margin-left: auto;
  margin-right: auto;
	width: 400px;
	font-family: 'Oxygen', sans-serif;
}

/*Styling for menu control adapted from http://msdn.microsoft.com/en-us/library/ms366731.aspx */
/*---------------------------------------*/
.menuLevel1 {
	color: black;
	font-size: large;
}

.menuLevel2 {
	color: white;
	background-color: black;
	font-size: medium;
}

.menuLevel3 {
	color: black;
	background-color: silver;
	font-size: small;
}

.hoverstyle {
	font-weight: bold;
}
/*---------------------------------------*/

#main {
	margin-left: auto;
	margin-left: auto;
	padding: 80px 160px 80px 160px;
	text-align: center;
}

#footer {
	margin-left: auto;
  margin-right: auto;
  width: 940px;
	height: 80px;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
}

.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}